<div class="target-wrapper">
  <div class="plan-area">
    <div class="plan-top-logo">Edit My Plan</div>
    <div class="plan-form">
        <%= render partial: "form", locals: { target: @target } %>
    </div>
  <%= link_to "戻る", target_path(current_user.target), class: :back_target_index %>
  </div>
</div>