<div class="target-wrapper">
  <div class="plan-area">
    <div class="plan-top-logo">My Plan</div>
    <%= link_to "目標を設定する", new_target_path %>
    <%#= link_to "目標を修正する",edit_target_path() %>
    <div class="plan-form">
        <div class="goal-weight">
          <h1 class="plan-list">目標体重</h1>
          <div class="plan-output">kg</div>
        </div>
        <div class="period">
          <h1 class="plan-list">期間</h1>
          <div class="plan-output"></div>
        </div>
        <div class="plan">
          <h1 class="plan-list">計画</h1>
          <div class="plan-output"></div>
        </div>
    </div>
  </div>
</div>
