<div class="target-wrapper">
  <div class="plan-area">
    <div class="plan-top-logo">My Plan</div>
    <div class="plan-form">
        <%= render partial: "form", locals: { target: @target } %>
    </div>
  </div>
</div>
