<div class="message-set"> 
  <div class="message-name">
    <%= messages.user.nickname %>
  </div>
  <div class="message-date">
    <%= l messages.created_at %>
  </div>
</div>
<div class="message">
  <%= messages.text %>
</div>
