
/* ヘッダー */
.header {
  background-color: #f1f8fe;
  padding: 15px 0px ;
  width: 100vw;
}
.inner {
  width: 95%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  width: 250px;
}
.nav__right{
  display: flex;
  align-items: center;
}
.nav__nickname{
  font-size: 20px;
  margin-right: 30px;
  color: #87CEFA;
  text-decoration: none;
  transition: 0.4s ease;
}
.nav__nickname:hover{
  opacity: 0.5;
  color:#87CEFA;
}
.nav__logout{
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #87CEFA;
  text-decoration: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s ease;
}
.nav__logout:hover{
  opacity: 0.5;
  color: #fff;
  background: #87CEFA;
}

/* body部分 */
.main-wrapper{
  background-color: rgb(185, 226, 241);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
/* 入力フォームエリア */
.input-contents{
  background-color: whitesmoke;
  width: 95%;
  height: 150px;
  margin: 15px auto;
  padding: 5px 10px;
}
.form-top{
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.input-message{
  font-size: 15px;
  color: gray;
}
.form-middle{
  display: flex;
  justify-content: space-around;
}
.form-content{
  background-color: #87CEFA;
  height: 50px;
  width: 24%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-list{
  font-size: 12px;
  color: gray;
  width: 45px;
  text-align: center;
}
.input-area{
  background-color: #fff;
  height: 85%;
  width: calc(100% - 40px);
  margin: 0 5px;
  text-align: right;
}
.form-input {
  height: 100%;
  width: 80%;
  border: none;
}
.form_input {
  height: 100%;
  width: 100%;
  border: none;
}
.year, .month, .day{
  height: 100%;
  border: none;
}

.form-bottom{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.memo-contents{
  width: calc(91% - 80px);
  background-color: #87CEFA;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.memo-list{
  color: gray;
  width: 45px;
  text-align: center;
}
.memo-area{
  background-color: #fff;
  height: 85%;
  width: calc(100% - 45px);
  margin: 0 5px;
}
.form-memo{
  width: 100%;
  height: 100%;
  border-style: none;
}
.contents-submit-content{
  background-color: #87CEFA;
  width: 100px;
  height: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.contents-submit-btn{
  width: 80%;
  height: 80%;
  background-color: white;
  color: gray;
  font-size: 20px;
  border-style: none;
  border-radius: 5px;
  transition: 0.4s ease;
}
.contents-submit-btn:hover{
  opacity: 0.5;
  color: #ffffff;
  background: skyblue;
}

/* グラフ表示エリア */
.output-contents{
  background-color: whitesmoke;
  width: 95%;
  height: 500px;
  margin: 0px auto 15px;
  padding: 10px;
  display: flex;
}
.current-weight{
  width: 230px;
  height: 100%;
  padding: 5px;
  margin-right: 10px;
  background-color: white;
}
.current-weight-title{
  width: 220px;
  color: white;
  padding: 0 30px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
  background-color: gray;
}
.weight-chart{
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}
.input-date{
  font-size: 5px;
  margin-right: 3px;
}
.input-weight{
  font-size: 13px;
  margin-right: 5px;
}
.edit_link{
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: rgb(165, 164, 164);
  padding: 3px 5px;
  border-radius: 4px;
}
.graph-area{
  height: 100%;
  width: calc(100% - 250px);
}
.my-plan-area{
  height: 80px;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px;
}
.my-plan-title{
  background-color: gray;
  color: white;
  width: 100%;
  text-align: center;
}
.my-plan-content{
  padding: 13px 5px;
}
.my-plan-list{
  color: gray;
}
.my-plan-value{
  background-color: #f1f8fe;
  padding: 10px 20px;
  margin: 0 10px;
}
.my-chart-area{
  height: calc(100% - 80px);
  background-color: white;
  padding: 5px;
}
.chart{
  height: 100%;
  width: 100%;
  padding-top: 10px;
}
/* メッセージエリア*/
.message-top{
  width: 95%;
  height: 30px;
  background-color:dodgerblue;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.messages-contents{
  background-color: dodgerblue;
  width: 95%;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  overflow: scroll;
}
.message-main{
  background-color: lightcyan;
  width: 100%;
  margin-bottom: 5px;
}
.message-set{
  display: flex;
  padding: 0 10px;
}
.message-name{
  width: 100px;
  font-size: 20px;
}
.message-date{
  width: 200px;
  color: gray;
}
.message{
  width: calc(100% - 100px 200px);
  margin-left: 20px;
}
.chat-message-form{
  width: 95%;
  height: 60px;
  margin: 0 auto 15px;
  padding: 5px 15px 0;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
}
.chat-message-area{
  background-color:white;
  width: calc( 100% - 70px);
  height: 50px;
}
.form-message{
  width: 100%;
  height: 100%;
  border-style: none;
}
.chat-submit-content{
  width: 70px;
  height: 50px;
  background-color: white;
  margin-left: 20px;
}
.chat-submit-btn{
  background-color: blue;
  color: white;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

/* 面談予約フォームエリア */
.reservation-top{
  width: 95%;
  height: 30px;
  background-color:dodgerblue;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.reservations-contents{
  background-color: white;
  width: 95%;
  height: 100x;
  margin: 0 auto 15px;
  padding: 15px;
}
.reserved-date{
  background-color: #87CEFA;
  margin-bottom: 15px;
}
.reservation-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation-input-form{
  width: 500px;
  height: 50px;
  padding: 13px 0; 
  background-color: #87CEFA;
}
.reservation-submit-content{
  width: 100px;
  height: 50px;
  margin: 0 20px;
}
.reservation-submit-btn{
  height: 100%;
  width: 100%;
  color: white;
  background-color: lightblue;
}

/* 計画フォームエリア */
.target-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1e3f8;
}
.plan-area{
  height: 80%;
  width: 500px;
  background-color: white;
  padding: 10px 30px;
}
.plan-top-logo{
  color: skyblue;
  font-size: 50px;
}
.plan-list{
  color: skyblue;
  font-size: 20px;
}
.plan-output{
  height: 80px;
}
/*edit newのフォーム*/
.plan-field{
  color: gray;
}
.goal_weight_area{
  height: 40px;
  width: 100px;
}
.period-select-box{
  height: 40px;
}
.plan_form_text{
  height: 80px;
  width: 100%;
}
.calc-area-wrapper{
  width: 500px;
  margin: 10px 80px;
}
.calc-area{
  width: 300px;
  height: 30px;
  display: flex;
}
.calc-title{
  height: 30px;
  width: 50%;
  font-size: 10px;
  text-align: center;
  padding: 7px 0;
  background-color: rgb(233, 231, 231);
}
.calc-result{
  height: 30px;
  width: 50%;
  color: gray;
  text-align: center;
  border: 0.5px solid rgb(218, 214, 214);
}
.plan-actions{
  height: 50px;
  width: 200px;
  background-color: skyblue;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.plan_form_btn{
  border: none;
  background-color: skyblue;
  color: white;
  font-size: 20px;
  display: block;
}